@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SSTArabic";
  src: url("/assets/fonts/SSTArabic-Medium.otf");
}

@font-face {
  font-family: "NotoKufiArabic";
  src: url("/assets/fonts/NotoKufiArabic/NotoKufiArabic-Regular.ttf");
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* others */
a {
  text-decoration: none;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@layer components {
  .navLink {
    @apply relative cursor-pointer h-full flex items-center hover:text-darkBlue before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-0 before:bg-gradient-to-r before:from-green before:to-cyan hover:before:h-1 before:transition-all before:duration-200;
  }
  .gradientButton {
    @apply bg-gradient-to-r from-green to-cyan rounded-full;
  }
  .opacityHover {
    @apply hover:opacity-60 transition-opacity duration-300;
  }
  .backgroundImage {
    @apply bg-introMobile md:bg-introDesktop bg-no-repeat bg-cover md:bg-[length:700px] lg:bg-[length:880px] bg-[center_top_-15rem] sm:bg-[center_top_-17rem] min-[700px]:bg-[center_top_-19rem] min-[730px]:bg-[center_top_-21rem] md:bg-[right_-12rem_top] lg:bg-[right_-12rem_top_-9rem];
  }
  .gradientText:hover {
    @apply bg-green bg-gradient-to-r from-green to-cyan bg-clip-text text-transparent bg-cover transition-colors cursor-pointer;
  }
}
